#detail{
    .detail__container{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        .detail__top{
            font-size: 27px;
            font-weight: bold;
            width: 40%;
        }
        .detail__img{
            .detailimgs{
                width: 767px;
            }
        }
        .detail__about{
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: center;
            font-size: 15px;
            .about__top{
                width: 65%;
            }
            .about__bottom{
                width: 65%;
            }
        }
        .detail__icons{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
            .detail__Like{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}