#home {
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $purple-color-1;
    padding: 80px 0;
    .hero__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      width: 90%;
      .hero__left {
        display: flex;
        flex-direction: column;
        color: $white-color;
        h4 {
          margin-bottom: 30px;
          font-size: 13px;
        }
        h1 {
          font-size: 64px;
          font-weight: 600;
          margin-bottom: 28px;
        }
        p {
          margin-bottom: 44px;
          line-height: 1.2;
        }
        button {
          cursor: pointer;
          padding: 15px 25px;
          font-weight: 600;
          border-radius: 8px;
          border: none;
          width: fit-content;
          transition: 0.4s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .hero__right {
        display: flex;
        justify-content: end;
        img {
          width: 75%;
          aspect-ratio: 1 / 1;
          object-fit: cover;
          border-radius: 16px;
        }
      }
    }
  }
}
